# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env/
env/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.iml

# Logs
*.log

# MacOS
.DS_Store

# Python-specific
pip-log.txt
pip-delete-this-directory.txt

# Local environment variables
.envrc
*.env

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/
